body {
    overflow-x: hidden;
}

/* Section Menu */
#MenuBar {
    position: fixed;
    z-index: 5;
    background-color: #000000e5;

    font-family: 'Rancho', cursive;
    color: #E35F21;

    padding: 1% 5%;
    width: 100%;
}

#MenuBar .logo {
    display: flex;
}

#MenuBar .logo img {
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 1rem;
}

#MenuBar .nav-item .nav-link{
    color: #E1875D;
    font-family: 'Roboto', sans-serif;
}

 /* Section Header  */

#Header {
    background-color: #E35F21;
    width: 100%;
    
    padding: 15% 5%;

    display: flex;
}

#Header .header-info .logo {
    display: flex;
}

#Header .header-info .logo img {
    width: 5rem;
    height: 5rem;

    margin-right: 1rem;
}

#Header .header-info .logo .name {
    color: #000000;
    font-family: 'Rancho', cursive;

    display: flex;
    flex-direction: column;

    align-items: center;    
}

#Header .header-info .info {
    min-width: 25rem;
    width: 35%;

    margin-top: 2rem;
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.socials-icon {
    color: #000000;
    margin: 0.2rem;
}

.socials-icon:hover {
    color: #504038;
}

.header-imgs {
    min-width: 25%;
    max-width: 100%;
    height: 80%;
    top: 100%;
    display: flex;
}

.header-img1 {
    position: relative;
    z-index: 2;
    min-height: 27.5rem;
    max-height: 32.5rem;
    min-width: 20rem;
    max-width: 25rem;
    top: -10rem;
    display: flex;
    
    border: 1rem solid #000;
    border-radius: 1rem;
}

.header-img2 {
    position: relative;
    z-index: 1;
    min-height: 25rem;
    max-height: 30rem;
    min-width: 20rem;
    max-width: 25rem;
    left: -5rem;
    top: 5rem;
    display: flex;
    
    border: 1rem solid #000;
    border-radius: 1rem;
}

 /* Section Header  */

#Iam {
    background-color: #000;
    width: 100%;
    
    padding: 5% 5%;

    display: flex;
}

#Iam .iam-info {
    display: flex;
    height: 80%;
    width: 50%;
    top: -50rem;
}

#Iam .iam-block {
    position: relative;
}

#Iam .iam-info .name {
    color: #E35F21;
    font-family: 'Rancho', cursive;
    font-size: 5rem;
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;      
}

#Iam .iam-info .info {
    min-width: 25rem;
    max-width: 200rem;
    width: 100%;
    margin-top: 2rem;
    position: relative;
    font-size: 1.1rem;
    color: #E35F21;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.iam-imgs {
    margin-left: auto;
    margin-right: auto;
    min-width: 45%;
    max-width: 75%;
    display: flex;
}

#mapid { 
    width: 100%;
    height: 100%;
    border: 7px solid #E35F21;
    border-radius: 1rem;
    z-index: 4;
}

#mapid:hover {
    border-color: #e27d4e;
}

 /* Section Header  */

#Dogs {
    background-color: #E35F21;
    color: #000;
}

#carouselExampleControls {
    min-width: 10rem;
    max-width: 500rem;
}

.carousel-item.acrive {
    position: relative;
}

.carousel-inner {
    min-width: 25%;
    max-width: 100%;
    min-height: 25%;
    max-height: 100%;
    padding: 10% 15%;
}

.d-block.w-100 {
    border-radius: 50%;
    position: relative;
    min-width: 10%;
    max-width: 25%;
    min-height: 10%;
    max-height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.dogs-info {
    padding: 5% 5%;
    margin-left: auto;
    margin-right: auto;
    top: -500rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #000;
    font-size: 1.2rem;
}

.more-info {
    position: relative;
    display: flex;
    margin: 2rem 0;
    top: 95%;
    left: 50%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    padding: .75% 5%;
    text-align: center;
    border-radius: 1rem;

    background: #00000009;
    border: 3px solid #000000;

    color: #000000;

    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    transition: 0.6s;
}

.more-info:hover {
    background: #000000;
    color: #E35F21;
}

/* Section Contacts */
#Contacts {
    background-color: #000000;
    color: #E35F21;

    padding: 10% 20%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

#Contacts .socials .socials-icon{
    color: #E35F21;
    margin: 0.2rem;
}

#Contacts .socials .socials-icon:hover{
    color: #7c391a;
}

@media screen and (max-width: 1300px) {

    #Header .header-info {
        width: 100%;
    }

    .header-imgs {
        display: none;
    }

    #Iam .iam-info {
        width: 100%;
    }

    .iam-imgs {
        display: none;
    }

}

@media screen and (max-width: 450px) {
    
    #Header {
        padding: 20% 5%;
        width: 150%;
    }

    #Iam {
        width: 150%;
    }

    #Dogs {
        width: 150%;
    }

    #Contacts {
        width: 150%;
        padding: 5% 10%;
    }

}